{% extends 'base.html.twig' %}

{% block title %}{{chapter.name}}{% endblock %}

{% block meta %}
    {% block og_type %}<meta property="og:type" content="article">{% endblock %}
    {% block og_title %}<meta property="og:title" content="{{ story.name }}">{% endblock %}
    {% block og_description %}<meta property="og:description" content="{{ story.summary|striptags|slice(0, 150) }}">{% endblock %}
    {% block og_image %}
        {% if story.cover %}
            <meta property="og:image" content="{{ absolute_url (asset('uploads/story/' ~ story.cover)) }}">
        {% else %}
            <meta property="og:image" content="{{ absolute_url (asset('img/forNoCover.png') ) }}">
        {% endif %}
    {% endblock %}
    {% block og_url %}<meta property="og:url" content="{{ app.request.uri }}">{% endblock %}
{% endblock %}

{% block body %}
<h1><a href="{{ path('app_chapter', {'idStory' : story.id})}}" class="textCenter width100 boutonWhite">{{story.name}}</a></h1>
<h2 class="textCenter">{{chapter.name}}</h2>
{% if num != 0 %}
    <h3 class="textCenter">Chapitre {{num}}</h3>
{% endif %}

    {# le bouton qui permet de partager sur Facebook #}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url (path ('show_chapter', {'chapter' : chapter.id, 'num' : num}) ) }}" target="_blank" class="marginAutoWidth">
        <i class="fa-brands fa-facebook"></i>
    </a>

<pre class="chapterText">
     {{file}}
</pre> 
{# ce sont les boutons en dessous du chapitre #}
<div class="width100 flex justifyContent">
    {% set before = num -1 %}
    {% set after = num +1 %}
    {% if num > 1 %}
        <a href="{{path('show_chapter', {'chapter': chapter.id, 'num' : before})}}" class="backgroundPurple bouton ">Episode précédent</a>
    {% endif %}
    {# la gestion de like #}
    {% if app.user and app.user in chapter.usersLike %}
        <a href="{{path('changeChapterIn', {'chapter' : chapter.id, 'fonction' : 'removeUsersLike', 'num' : num})}}" class="boutonWhite">{{chapter.usersLike | length}}
            <i class="fa-solid fa-heart textRed"></i>
        </a>
    {% elseif app.user %}
        <a href="{{path('changeChapterIn', {'chapter' : chapter.id, 'fonction' : 'addUsersLike', 'num' : num})}}" class="backgroundPink bouton">{{chapter.usersLike | length}}
            <i class="fa-regular fa-heart"></i>
        </a>
    {% endif %}
    {# gestion d'abonnement à l'histoire #}

    {% if app.user  in story.usersFollow %}
        <a href="{{path('addIn', {'id': story.id, 'id2': app.user.id, 'name': 'removeUsersFollow', 'num' : num, 'chapter' : chapter.id})}}" class="bouton textRed"> Se désabonner</a>
    {% elseif app.user %}
        <a href="{{path('addIn', {'id': story.id, 'id2': app.user.id, 'name': 'addUsersFollow', 'num' : num, 'chapter' : chapter.id})}}" class="bouton textGreen"> S'abonner</a>
    {% endif %}
    {% if story.chapters | length > num %}
    <a href="{{path('show_chapter', {'chapter': chapter.id, 'num' : after})}}" class="backgroundPurple bouton ">Episode suivant</a>
    {% endif %}
</div>
{# ce sont les commentaires  #}
<dic class="comments">
    <h2>Commentaires: ({{chapter.comments | length}})</h2>
    <div>
        <p>Il y aura un formulaire pour écrire un commentaire.</p>
    </div>

    <nav class="flex justifyContent">
        <a href="" class="">TOP</a>
        <a href="" class="">Le plus récent</a>
        <a href="" class="">Spoiler</a>
        <a href="" class="">Sans spoiler</a>
    </nav>
    <hr>
    {% if chapter.comments | length > 0 %}
        {% for comment in chapter.comments %}
            {# gestion du compte supprimé #}
            {% if 'delete_user' in comment.user.pseudo %}
                <h3>Compte supprimé</h3>
            {% else %}
                <h3>{{comment.user.pseudo}}</h3>
            {% endif %}
            <p>{{comment.message}}</p>
            <p>{{comment.dateComment | date('m/d/Y') }}</p>
        {% endfor %}
    {% else %}
        <p>Il n'y a aucun commentaire.</p>
    {% endif %}
</dic>
{% endblock %}
