{% extends 'base.html.twig' %}

{% block title %}{{chapter.name}}{% endblock %}

{% block body %}
    <h1 class="textCenter">{{chapter.name}}</h1>
    <h2 class="textCenter">Chapitre {{num}}</h2>

    <pre class="chapterText">
        {{file}}
    </pre>
    {# ce sont les boutons en dessous du chapitre #}
    <div class="boutons textCenter width50 flex justifyContent">
        <a href="" class="backgroundPurple bouton textBlack">Episode précédent</a>
        <a href="" class="backgroundPink bouton textBlack"><i class="fa-solid fa-heart"></i></a>
        <a href="" class="backgroundPink bouton textBlack">S'abboner</a>
        <a href="" class="backgroundPurple bouton textBlack">Episode suivant</a>
    </div>
    {# ce sont les commentaires  #}
    <dic class="comments">
        <h2>Commentaires: ({{chapter.comments | length}})</h2>
        <div>
            <p>Il y aura un formulaire pour écrire un commentaire.</p>
        </div>

        <nav class="flex justifyContent">
            <a href="" class="textBlack ">TOP</a>
            <a href="" class="textBlack ">Le plus récent</a>
            <a href="" class="textBlack ">Spoiler</a>
            <a href="" class="textBlack ">Sans spoiler</a>
        </nav>
        <hr>
        {% if chapter.comments | length > 0 %}
            {% for comments in chapter.comments %}
                {{comments}}
            {% endfor %}
        {% else %}
            <p>Il n'y a aucun commentaire.</p>
        {% endif %}
    </dic>
{% endblock %}
