{% extends 'base.html.twig' %}

{% block title %}Hello StoryController!{% endblock %}

{% block body %}
<section id="detailStory">
    <h1>{{story.name}}</h1>
    <main class="width100 flex flexDirectionRow">
        {# gestion le la couverture #}
        {% if story.cover %}
            <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}" class="cover">  
        {% else %}
            <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}" class="cover">  
        {% endif %}
        
        <div class="right">
            {# on gere la navbar #}
            <nav class="textCenter width100 flex flexDirectionRow">
                <a href="{{path('detail_story', {'id' : story.id})}}" class="">Description</a>
                <a href="{{path('app_chapter', {'idStory': story.id})}}" class=""><b>Chapitres ({{story.chapters | length}})</b></a>
                <a href="{{path('suggestions_story', {'idStory': story.id})}}" class="">Recommandations</a>
            </nav>
            <div class="top">
                {% if app.user and app.user.id == story.person.id %}
                    <a href="{{path('newChapter', {'idStory': story.id})}}" class="bouton boutonWhite">Ajouter un chapitre</a>
                {% endif %}

                {# on verife qu'il y a des chapitres #}
                {% if chapters %}
                    {# la liste des chapitres #}
                    <div class="chapters">
                        {% set counter = 1 %}
                        {% for chapter in chapters %}
                            {# je fais la gestion d'affichage de fond d'un chapitre #}
                            {% if  app.user and app.user in chapter.userHaveRead %}
                                {% set backgroundColor = 'backgroundWhite' %}
                            {% else %}
                                {% set backgroundColor = 'backgroundBrown' %}
                            {% endif %}
                            {# ceci est un chapitre si le chapitre est gratuit je laisse l'accès au chapitre #}
                            {% if chapter.isFree %}
                                {% if chapter.isPublic %}
                                <div class="chapter {{backgroundColor}} flex">
                                    <a href="{{path('show_chapter', {'chapter': chapter.id, 'num' : counter})}}" class="width100 leftChapter">
                                        <span class="title2"><u>Chapitre {{counter}} :</u> {{chapter.name}}</span> <br>
                                        Date de publication : {{chapter.publish | date("d/m/Y")}}<br>
                                        Saison :{{chapter.inSeason}}
                                        {% set counter = counter + 1 %}
                                    </a>
                                    {# la partie droite du chapitre #}
                                    <div class="rightChapter flex flexDirectionCollumn textCenter">
                                        {# pour que l'auteur puisse modifier le chapitre #}
                                        {% if app.user and app.user.id == chapter.story.person.id %}
                                            <a href=""><i class="fa-solid fa-trash"></i></a>
                                            <a href="{{path('editChapter', {'idStory': story.id, 'chapter': chapter.id})}}" class="linkBtn"><i class="fa-solid fa-pen"></i></a>
                                        {% endif %}
                                        {# la gestion de like #}
                                        {% if app.user and app.user.id != chapter.story.person.id and app.user in chapter.usersLike %}
                                            <a href="{{path('changeChapter', {'chapter' : chapter.id, 'fonction' : 'removeUsersLike'})}}" class="">{{chapter.usersLike | length}}
                                                <i class="fa-solid fa-heart"></i>
                                            </a>
                                        {% elseif app.user and app.user.id != chapter.story.person.id  %}
                                            <a href="{{path('changeChapter', {'chapter' : chapter.id, 'fonction' : 'addUsersLike'})}}" class="">{{chapter.usersLike | length}}
                                                <i class="fa-regular fa-heart"></i>
                                            </a>
                                        {% else %}
                                            <p>{{chapter.usersLike | length}}<i class="fa-solid fa-heart"></i></p>
                                        {% endif %}
                                        {# si l'utilisateur a lu le chapitre #}
                                        {% if app.user and app.user.id != chapter.story.person.id and app.user in chapter.userHaveRead %}
                                            <a href="{{path('changeChapter', {'chapter' : chapter.id, 'fonction' : 'removeUserHaveRead'})}}" class="">Lu</a>
                                        {% elseif app.user and app.user.id != chapter.story.person.id  %}
                                            <a href="{{path('changeChapter', {'chapter' : chapter.id, 'fonction' : 'addUserHaveRead'})}}" class="">Non lu</a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                    <div class="chapter backgroundGrey flex opacity50">
                                        <div class="leftChapter">
                                            <p class="title2"><u>Chapitre {{counter}} :</u> {{chapter.name}}</p>
                                            <p>Date de publication :  aucune</p>
                                            <p>Saison :{{chapter.inSeason}}</p> {% set counter = counter + 1 %}
                                        </div>
                                        <div class="rightChapter flex flexDirectionCollumn textCenter"><i class="fa-solid fa-lock"></i></div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Il n'y a pas encore de chapitres patienté ! </p>
                {% endif %}
            </div>
        </div>
    </main>
</section>
{% endblock %}