{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}   
        <h1>Modifier le chapitre : </h1>
    {% else %}
        <h1>Créer un chapitre :</h1>
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modifier un chapitre :</h1>
    {% else %}
        <h1>Créer un chapitre :</h1>
    {% endif %}

     {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(form.name) }}
        {{form_row(form.file)}}
        {{ form_row(form.isFree)}}
        {{ form_row(form.is_public)}}
        {{ form_row(form.inSeason) }}
        
        {{ form_row(form.Submit) }}
        {{ form_end(form) }} 
{% endblock %}
