{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
{% if error %}
<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{# {% if app.user %}
<div class="mb-3">
    Vous etes déjà connecté(e) en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
</div>
{% endif %} #}
<div class="loginContainer">
    <div class="left">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <form method="post">

            <label for="inputEmail"></label>
            <input type="pseudo" name="pseudo" id="inputPseudo" class="form-control" autocomplete="pseudo" required autofocus>
            <label for="inputPassword"></label>
            <input type="password"  name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
        
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">Me connecter</button>
            <button><a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=606042423534-34cggvsudjiic8hp8c0d4k32f1ucvemk.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogin&response_type=code&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.metadata.readonly&access_type=online
">Se connecter avec google</a></button>
        </form>
    </div>
    {# https://developers.google.com/identity/protocols/oauth2/scopes#google-sign-in #}

    <div class="right">
        <h3>Bienvenue ! </h3>
        <p><a href="" class="linkBtn">Mot de passe oublié?</a></p>
        <p>Pas encore de compte ? </p>
        <p><a href="{{path('app_register')}}" class="bouton">M'inscrire</a></p>
    </div>
</div>
{% endblock %}
