{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="loginContainer" class="loginContainer ConnectContainer flex">
    <div class="left container textCenter backgroundPink">
        <h3>Bienvenue ! </h3>
        <p>Pas encore de compte ? </p>
        <a href="{{path('app_register')}}" class="bouton backgroundWhite textBlack">M'inscrire</a>
    </div>

    <div class="right container alignCenter textCenter">
        <h2>Connexion</h2>
        <form method="post" action="{{ path('app_login') }}">

            <label for="inputEmail"></label>
            <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="username" required autofocus> <br>
            <label for="inputPassword"></label>
            <input type="password"  name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <i class="fa-solid fa-eye" onclick="changeInput('inputPassword')"></i> <br>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
        
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            <button class="bouton textBlack backgroundPink noBorder" type="submit">Me connecter</button> <br>
            <a href="{{ path('app_forgot_password_request')}}" class="textBlack noBorder">Mot de passe oublié?</a> <br>
            <a href="/connect/google" class="bouton textBlack backgroundPink noBorder">Se connecter avec google</a>
        </form>
    </div>
    
</div>
{% endblock %}
