{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    {# j'affiche les 3 plus populaire du moment (histoire qui a le plus d'abonner) #}
    {# {{dump(stories)}} #}
    <h3>Les plus populaires : </h3>
        <div class="caroussel-home popular-home flex stories">
            <i class="fa-solid fa-arrow-left bouton backgroundPurple" onclick='changeSlide(-1, {nbslide})'></i>
            {% set nbslide = 1 %}
            <div class="slide slide-{{nbslide}} flex">

                {% set counter = 0 %}
                {% for story in stories %}
                    {% if counter >2 %}
                        </div>
                        {% set nbslide = nbslide + 1 %}
                        <div class="slide slide-{{nbslide}} no-active">
                        {% set counter = 0 %}
                    {% else %}
                        {% set counter = counter +1 %}
                        <div class="story textCenter">
                            {% if story.cover %}
                                <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}">  
                            {% else %}
                                <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}">  
                            {% endif %}
                            <p>{{story.name}}</p>
                            <a class="bouton backgroundPurple textBlack" href="{{path('detail_story', {'id' : story.id})}}">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
                            <p class="summary backgroundWhite">{{story.summary}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <i class="fa-solid fa-arrow-right bouton backgroundPurple" onclick='changeSlide(1, {nbslide})'></i>
        </div>
    {# j'affiche 3 premieres sorties du jour #}
    <div class="day">
        <h3>Sortie du jour : </h3>



    </div>
    {# j'affiche les catégories avec le plus d'histoires #}
    <div class="categories">
        <h3>Catégories : </h3>
        {% for category in categories %}
            <p><a href="{{path('show_category', {'idCategory' : category.id})}}" class="textBlack">{{category.name}}</a></p>
        {% endfor %}
        <a href="{{path('app_category')}}" class="bouton backgroundPurple textBlack">Voir plus -></a>
    </div>

{% endblock %}
