{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block meta %}
    {% block description %}
        <meta name="description" content="Plumédia est une plateforme immersive pour lire, écrire et partager des histoires. 
 Rejoignez une communauté passionnée et donnez vie à vos récits en toute liberté.">
    {% endblock %}
    {% block keywords %}
        <meta name="keywords" content="histoire lire écrire">
    {% endblock %}
{% endblock %}

{% block body %}
    <section id="home" class="textCenter">
        <video autoplay muted loop playsinline id="bg-video">
            <source src="{{ asset('videos/radio.mp4') }}" type="video/mp4">
                Votre navigateur ne supporte pas la lecture vidéo.
        </video>
        <div class="content">
            <h1 class="textCenter firstTitle">Publiez et lisez des histoires sur <span class="textPurple titleHome">Plumédia</span></h1>
            <h2 class="textCenter">Améliorer votre écriture en postant vos histoires</h2>
            <br><br>
            <a class="backgroundGold bouton boutonGold" href="{{path('show_home')}}">Lire maintenant </a>
            <br><br>
        </div>
    </section>
    
    <section id="bento" class="inner-container">
        <div class="parent">
            {% set i = 0 %}
            {% for counter in [0,3] %}
                <div class="div div{{counter + 1}}">
                    <a href="{{path('detail_story', {'id' : stories[i].id})}}">
                        {{stories[i].name }}
                        {% if stories[i].cover %}
                            <img src="{{asset('uploads/story/' ~stories[i].cover)}}" alt="couverture de {{stories[i].name}}">
                        {% else %}
                            <img src="{{asset('img/forNoCover.png')}}" alt="couverture de base d'une histoire">
                        {% endif %} <br>
                    </a>
                </div>
                <div class="div div{{counter + 2}}">
                    <a href="">
                        {{authors[i].pseudo }}
                        {% if authors[i].avatar %}
                            <img src="{{asset('uploads/user/' ~authors[i].avatar)}}" alt="couverture de {{authors[i].pseudo}}" >
                        {% else %}
                            <img src="{{asset('img/avatar_base.png')}}" alt="avatar de base d'un utilisateur" >
                        {% endif %} <br>
                    </a>
                </div>
                <div class="div div{{counter + 3 }}">
                    <a href="{{path('detail_story', {'id' : storiesPop[i].id})}}">
                        {{storiesPop[i].name }} 
                        {% if storiesPop[i].cover %}
                            <img src="{{asset('uploads/story/' ~storiesPop[i].cover)}}" alt="couverture de {{storiesPop[i].name}}">
                        {% else %}
                            <img src="{{asset('img/forNoCover.png')}}" alt="couverture de base d'une histoire">
                        {% endif %} <br>
                    </a>
                </div>
                {% set i = i + 1 %}
            {% endfor %}
            <div class="div div7">
                <a href="">
                    {{authors[2].pseudo }}
                    {% if authors[2].avatar %}
                        <img src="{{asset('uploads/user/' ~authors[2].avatar)}}" alt="couverture de {{authors[2].pseudo}}">
                    {% else %}
                        <img src="{{asset('img/avatar_base.png')}}" alt="avatar de base d'un utilisateur">
                    {% endif %} <br>
                </a> 
            </div> 
        </div>
    </section>
    <section id="parallax">
        <h3 class="textCenter textWhite">Comment utiliser et se repérer dans le site?</h3>
        <div class="flex  justifyContent">
            <video width="500" height="250">
                <source src="{{asset('videos/radio.mp4')}}"type="video/mp4">
                Votre navigateur ne supporte pas la lecture vidéo.
            </video>
            <a href="" class="backgroundGold bouton marginAutoHeight boutonGold">Lancer le didacticiel</a>
        </div>
    </section>
    <div class="newsletter textCenter">
        <h2>S'inscrire à la newsletter</h2>
        <div class="newsletter-form">
            <input class="newsletter-input noBorder" placeholder="Votre email">
            <button class="newsletter-btn bouton boutonWhite">S'inscrire</button>
        </div>
    </div>
    <div class="g-recaptcha alert" data-sitekey="site_key"></div>
    <script>
        // je donne l'accces pour le recaptcha
        tarteaucitron.user.recaptchaapi = '{{recaptcha_key}}';
        (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
        // je donne l'acces pour googled
        tarteaucitron.user.gajsUa = '{{google_key}}';
        tarteaucitron.user.gajsMore = function () { /* add here your optionnal _ga.push() */ };
        (tarteaucitron.job = tarteaucitron.job || []).push('gajs');
    </script>
{% endblock %}