{% extends 'base.html.twig' %}

{% block title %}Desciption histoire{% endblock %}

{% block body %}
<section id="detailStory">
    <h1>
        {{story.name}} - 
        {% if story.isFinish == 0 %}
            <i class="fa-solid fa-play"></i> En cours
        {% elseif story.isFinish == 1 %}
            <i class="fa-solid fa-flag-checkered"></i> Terminée
        {% else %}
            <i class="fa-solid fa-pause"></i> En pause
        {% endif %}
    </h1>
    <main class="width100 flex flexDirectionRow">
        {% if story.cover %}
            <img src="{{ asset('uploads/story/' ~ story.cover) }}" class="cover" alt="couverture de {{story.name}}">  
        {% else %}
            <img src="{{ asset('img/forNoCover.png') }}" class="cover" alt="couverture de {{story.name}}">  
        {% endif %}
        {# la partie ou il n'y a pas d'image  #}
        <div class="right">
            {# la nav du haut #}
            <nav class="textCenter width100 flex flexDirectionRow">
                <a href="{{path('detail_story', {'id' : story.id})}}" class=""><b>Description</b></a>
                <a href="{{path('app_chapter', {'idStory': story.id})}}" class="">Chapitres ({{story.chapters | length}})</a>
                <a href="{{path('suggestions_story', {'idStory': story.id})}}" class="">Recommandations</a>
            </nav>
            {# la partie de like + follow #}
            <div class="top">
                {# c'est la gestion de modification d'une histoire qui n'est visible que pour l'auteur #}
                {% if app.user and app.user.id == story.person.id %}
                    <a href="{{path('change_story', {'id': story.id})}}"  class="bouton boutonWhite">
                        Modifier l'histoire <i class="fa-solid fa-pen-nib"></i>
                    </a>
                    <a href="" class="">-</a>
                    {# gestion de l'histoire fini ou non pour auteur #}
                    {% if story.isFinish == 0 %}
                        <a href="{{ path('changeIsFinish', {'id' : story.id, 'make' : 1}) }}" class="bouton boutonWhite">
                            Marqué terminée 
                        </a>
                        <a href="{{ path('changeIsFinish', {'id' : story.id, 'make' : 2}) }}" class="bouton boutonWhite">
                            Marqué en pause
                        </a>
                        {% elseif story.isFinish == 1 or story.isFinish == 2 %}
                        <a href="{{ path('changeIsFinish', {'id' : story.id, 'make' : 0}) }}" class="bouton boutonWhite">
                            Marqué en cours
                        </a>
                    {% endif %}
                {% elseif app.user %}
                    {# je fais la gestion de like d'une histoire #}
                    {% if app.user and app.user  in story.usersLike %}
                        <a href="{{path('add', {'id': story.id, 'id2': app.user.id, 'name': 'removeUsersLike'})}}">{{story.usersLike | length}} <i class="fa-solid fa-heart textRed"></i></a>
                    {% else %}
                        <a href="{{path('add', {'id': story.id, 'id2': app.user.id, 'name': 'addUsersLike'})}}" >{{story.usersLike | length}} <i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                    {# je fais la gestion de follow d'une histoire #}
                    {% if app.user  in story.usersFollow %}
                        <a href="{{path('add', {'id': story.id, 'id2': app.user.id, 'name': 'removeUsersFollow'})}}" class="bouton textRed ">Se désabonner ({{story.usersFollow | length}})</a>
                    {% else %}
                        <a href="{{path('add', {'id': story.id, 'id2': app.user.id, 'name': 'addUsersFollow'})}}" class="bouton textGreen ">S'abonner ({{story.usersFollow | length}})</a>
                    {% endif %}
                {% endif %}
            </div>
            {# les informations de l'histoire #}
            <p><u>Auteur :</u> <a href="{{path('app_profile', {'id':story.person.id})}}" class="boutonWhite">{{story.person.pseudo}}</a></p>
            <p><u>Genres :</u>
                {% set count = 1 %}
                {% for category in story.categories %}
                    <a href="{{ path('show_category', {'idCategory' : category.id}) }}" class="boutonWhite">{{category.name }}</a>
                    {% if count < story.categories | length %} , {% endif %}
                    {% set count = count + 1 %}
                {% endfor %}
            </p>
            {# <p><u>Hashtags :</u> </p> #}
            <p><u>Date de sortie :</u> {{story.createStory | date("d/m/Y")}}</p>
            <p><u>Nombre de chapitres :</u> {{story.chapters | length }}</p>
            <p> <u>Résumé :</u> {{story.summary}}</p>
        </div>
    </main>
</section>
{% endblock %}
