{% extends 'base.html.twig' %}

{% block title %}Hello StoryController!{% endblock %}

{% block body %}
                {# {{dump(story.usersLike )}} #}

<section id="detailStory">
    <h1>{{story.name}}</h1>
    <main>
        <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="image de couverture">
        
        <div class="right">
            <nav>
                <a href="{{path('detail_story', {'id' : story.id})}}"><b>Description</b></a>
                <a href="">Chapitres</a>
                <a href="">Recommendations</a>
            </nav>
            <div class="top">
                <a href="">{{story.usersLike | length}} 
                    {% if app.user  in story.usersLike %}
                        <a href="{{path('remove', {'id': story.id, 'id2': app.user.id, 'name': 'removeUsersLike'})}}"><i class="fa-solid fa-heart"></i></a>
                    {% else %}
                        <a href="{{path('add', {'id': story.id, 'id2': app.user.id, 'name': 'addUsersLike'})}}"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                </a>
                <a href="">{{story.usersFollow | length}}
                    {% if app.user  in story.usersFollow %}
                        <a href="{{path('remove', {'id': story.id, 'id2': app.user.id, 'name': 'removeUsersFollow'})}}"><i class="fa-solid fa-minus"></i></a>
                    {% else %}
                        <a href="{{path('add', {'id': story.id, 'id2': app.user.id, 'name': 'addUsersFollow'})}}"><i class="fa-solid fa-plus"></i></a>
                    {% endif %}
                </a>
                <a href="">nb abonner</a>
            </div>
            <p><u>Auteur :</u> {{story.person.pseudo}}</p>
            <p><u>Genres :</u> 
            </p>
            <ul>
                {% for category in story.categories %}
                    <li>{{category.name }}</li>
                {% endfor %}
            </ul>
            <p><u>Hashtags :</u> </p>
            <p><u>Nombre de chapitres :</u> {{story.chapters | length }}</p>
            <p> <u>Résumé :</u> {{story.summary}}</p>
        </div>
    </main>
</section>
{% endblock %}
