{% extends 'base.html.twig' %}

{% block title %}
    Populaires
{% endblock %}

{% block body %}
    <h1 class="textCenter firstTitle">Histoires le plus populaires : </h1>

    {# ceci est pour ma navbar
        j'affiche 5 catégories à la fois et permet de voir les autres via des flèches #}
    {% set counter = 1 %}
    {# c'est la liste des catégories #}
    <nav id="gallery-wrap" class="flex flexDirectionRow">
            <i class="fa-solid fa-arrow-left" id="backBtn"></i>
            <div class="gallery flex" >
                <div>
                    <a href="" class=" larger bouton boutonGold backgroundGold"><b>Tous</b></a> -
                    {% set counter = 2 %}

                    {% for category in categories %}
                        {% if counter <=5 %}
                            {% set counter = counter + 1 %}
                            <a href="{{path('show_populars', {'idCategory': category.id})}}" class="boutonWhite">{{category.name}} </a> -
                        {% else %}
                </div>
                <div>
                            {% set counter = 1 %}               
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <i class="fa-solid fa-arrow-right" id="nextBtn"></i>
    </nav>
        
    <p>Cette page met en avant les cinq histoires les plus suivies. Si la catégorie contient suffisamment d’histoires, les plus aimées sont également prises en compte en complément du classement par abonnés.</p>
    {# ceci est la liste des populaires #}
     <main class="populars">
        {% set counter = 1 %}
        {% for story in stories %}
            <h2>{{counter}}</h2> 
            {# ceci est un seul populaire #}
            <div class="popular flex">
                {% set counter = counter + 1 %}
                {% if story.cover %}
                    <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}">  
                {% else %}
                    <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}">  
                {% endif %}
                {# c'est la partie de droite #}
                <div class="right backgroundWhite">
                    <h3 class="secondTitle">{{story.name}}</h3> <br>
                    {# ceci est la gestion des genres #}
                        <p><u>Genres :</u>
                        {% if story.categories | length >0 %}
                            {% set c = 1 %}
                            {% for category in story.categories %}
                                <a href="{{ path('show_category', {'idCategory' : category.id}) }}" class="">{{category.name }}</a> 
                                {% if counter < (story.categories | length) %},{% endif %}
                                {% set c = c + 1 %}
                            {% endfor %}
                        {% else %}
                            aucun
                        {% endif %}
                    </p>
                    <p><u>Nombre de chapitres :</u> {{story.chapters | length }}</p>
                    <p> <u>Résumé:</u> {{story.summary}}</p>
                    <a href="{{path('detail_story', {'id': story.id})}}" class="boutonWhite">En savoir plus <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}
