{% extends 'base.html.twig' %}

{% block title %}Recommandations{% endblock %}

{% block body %}

<section id="detailStory">
    <h1>{{story.name}}</h1>
    <main class="width100 flex flexDirectionRow">
        {% if story.cover %}
            <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}" class="cover">  
        {% else %}
            <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}" class="cover">  
        {% endif %}
        
        <div class="right">
            {# c'est la navbar de droite #}
            <nav class="textCenter width100 flex flexDirectionRow">
                <a href="{{path('detail_story', {'id' : story.id})}}" class="">Description</a>
                <a href="{{path('app_chapter', {'idStory': story.id})}}" class="">Chapitres ({{story.chapters | length}})</a>
                <a href="{{path('suggestions_story', {'idStory': story.id})}}" class=""><b>Recommandations</b></a>
            </nav>

            {# si l'histoire a des categories #}
            {% if story.categories %}
                {# je parcours ces categories #}
                {% for category in story.categories %}
                    <h2> {{category.name}} :</h2>
                    {# si la catégorie a au moins 2 histoire je l'affiche #}
                    {% if category.stories | length >= 2 %}
                        {% set counter = 1 %}
                        {# j'afficher ces histoires #}
                        <div class="right stories flex flexDirectionRow">
                            {# je parcours toutes les categories de l'histoire #}
                            {% for st in category.stories %}
                                {# je vérifie que je n'affiche pas l'histoire sur laquelle on fait les recommendations #}
                                {% if story.id != st.id and counter <=4  %}
                                    <a href="{{path('detail_story', {'id' : st.id})}}" class="story textCenter">
                                        {# je fais la gestion de la couverture de l'histoire #}
                                        {% if story.cover %}
                                            <img src="{{ asset('uploads/story/' ~ st.cover) }}" alt="couverture de {{st.name}}" class="coverBook">
                                        {% else %}
                                            <img src="{{ asset('img\forNoCover.png') }}" alt="couverture de {{st.name}}" class="coverBook">
                                        {% endif %}
                                        <span class="">{{st.name}}</span><br>
                                        <span class="bouton boutonWhite">Voir plus <i class="fa-solid fa-arrow-right"></i></span><br>
                                        <span class="summary backgroundWhite">{{st.summary}}</span>
                                    </a>
                                {% endif %}
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Cette catégorie n'a pas d'autres histoire !</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p> Cette histoire n'a pas de catégorie. Ainsi elle n'a aucune recommendations.</p>
            {% endif %}
        </div>
    </main>
</section>
{% endblock %}
