{% extends 'base.html.twig' %}

{% block title %}Recommandations{% endblock %}

{% block body %}

<section id="detailStory">
    <h1>{{story.name}}</h1>
    <main class="width100 flex flexDirectionRow">
        {% if story.cover %}
            <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}" class="cover">  
        {% else %}
            <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}" class="cover">  
        {% endif %}
        
        <div class="right">
            {# c'est la navbar de droite #}
            <nav class="textCenter width100 flex flexDirectionRow">
                <a href="{{path('detail_story', {'id' : story.id})}}" class="">Description</a>
                <a href="{{path('app_chapter', {'idStory': story.id})}}" class="">Chapitres</a>
                <a href="{{path('suggestions_story', {'idStory': story.id})}}" class=""><b>Recommandations</b></a>
            </nav>

            {# je parcours les catégories de l'histoire #}
            {% if story.categories | length > 0 %}
                    {% for category in story.categories %}
                    <h2> {{category.name}} :</h2>
                    {# si la catégories à plus de 5 histoire je limite au 5 première histoires #}
                    {% if  category.stories and category.stories | length >=5 %}
                        {% set counter = 1 %}
                        <div class="right stories flex flexDirectionRow">
                            {# je parcours toutes les categories de l'histoire #}
                            {% for st in category.stories %}
                                {# je vérifie que je n'affiche pas l'histoire sur laquelle on fait les recommendations #}
                                {% if story.id != st.id %}
                                    <div class="story textCenter">
                                        {% if story.cover %}
                                            <img src="{{ asset('uploads/story/' ~ st.cover) }}" alt="couverture de {{st.name}}" class="coverBook">
                                        {% else %}
                                            <img src="{{ asset('uploads/story/' ~ st.cover) }}" alt="couverture de {{st.name}}" class="coverBook">
                                        {% endif %}
                                        <p class="">{{st.name}}</p>
                                        <a class="bouton boutonWhite" href="{{path('detail_story', {'id' : st.id})}}">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
                                        <p class="summary backgroundWhite">{{st.summary}}</p>
                                    </div>
                                {% endif %}
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    {# sinon j'affiche tout #}
                    {% elseif category.stories and category.stories | length >= 1 %}
                        <div class="right stories flex flexDirectionRow">
                            {# je parcours toutes les categories de l'histoire #}
                            {% for st in category.stories %}
                                {# je vérifie que je n'affiche pas l'histoire sur laquelle on fait les recommendations #}
                                {% if story.id != st.id %}
                                    <div class="story textCenter">
                                        {% if story.cover %}
                                            <img src="{{ asset('uploads/story/' ~ st.cover) }}" alt="couverture de {{st.name}}" class="coverBook">
                                        {% else %}
                                            <img src="{{ asset('uploads/story/' ~ st.cover) }}" alt="couverture de {{st.name}}" class="coverBook">
                                        {% endif %}
                                        <p class="">{{st.name}}</p>
                                        <a class="bouton boutonWhite" href="{{path('detail_story', {'id' : st.id})}}">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
                                        <p class="summary backgroundWhite">{{st.summary}}</p>
                                    </div>
                                {% endif %}
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                    {% elseif story in category.stories  %}
                        <p>La catégorie n'a pas d'autre chapitre.</p>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p>Cette histoire n'a pas de catégorie !</p>
            {% endif %}
    </main>
</section>
{% endblock %}
