{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1 class="textCenter">Catégories</h1>

    <main class="flex flexDirectionRow width100 categories">
        <div class="left flex flexDirectionCollumn">
        <a href="" class="larger bouton backgroundGold textCenter boutonGold"><b>Tous</b></a>
        {% for category in categories %}
            <a href="{{path('show_category', {'idCategory': category.id})}}" class="textCenter boutonWhite">{{category.name}} </a>
        {% endfor %}
    </div>
    <div class="right stories flex flexDirectionRow">
        {% if stories %}
            {% for story in stories %}
                <div class="story textCenter">
                    {% if story.cover %}
                        <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}" class="coverBook width100">  
                    {% else %}
                        <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}" class="coverBook width100">  
                    {% endif %}
                    <p>{{story.name}}</p>
                    <a class="bouton boutonWhite" href="{{path('detail_story', {'id' : story.id})}}">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
                    <p class="summary backgroundWhite width100">{{story.summary}}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune histoires !</p>
        {% endif %}
    </div>
    </main>
{% endblock %}