{% extends 'base.html.twig' %}

{% block title %}
    Ma blibliothèque
{% endblock %}

{% block body %}
    {# pour la gestion d'erreur #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="profil">
        {% if user.avatar %}
            <picture>
                <img src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="image avatar" id="bigAvatar" class="width100">
            </picture>
            <picture>
                <img src="/uploads/user/{{user.avatar}}" alt="image avatar" id="littleAvatar"> 
            </picture>
        {% else %}
            <picture>
                <img src="{{ asset('img/avatar_base.png') }}" alt="image faux avatar" id="bigAvatar" class="width100">
            </picture>
            <picture>
                <img src="/img/avatar_base.png" alt="image faux avatar" id="littleAvatar"> 
            </picture>
        {% endif %}
        <nav class="flex alignCenter justifyContent backgroundGrey">
symfony serve -d
            <a href="{{path('app_profil')}}">Mes informations</a>
            <a href="">|</a>
            <a href="{{path('app_subscriptionProfil')}}">Mes abonnements</a>
            <a href="">|</a>
            <a href="{{path('app_libraryProfil')}}" class="linkBtn"><b>Ma blibliothèque</b></a>
            <a href="">|</a>
            <a href="{{path('app_storyProfil')}}">Mes histoires</a>
        </nav>
        <main class="">
            <h2>Les histoires que vous suivez : </h2>
            <div class="right stories flex flexDirectionRow">
                {% if app.user.followedStories | length >1 %}
                    {% for story in app.user.followedStories %}
                        <div class="story textCenter">
                            {% if story.cover %}
                                <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}" class="coverBook width100">  
                            {% else %}
                                <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}" class="coverBook width100">  
                            {% endif %}
                            <p>{{story.name}}</p>
                            <a class="bouton boutonWhite" href="{{path('detail_story', {'id' : story.id})}}">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
                            <p class="summary backgroundWhite width100">{{story.summary}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Vous ne suivez aucune histoires !</p>
                    <a href="{{path('app_category')}}" class="boutonWhite">Déccouvrir des histoires</a>
                {% endif %}
            </div>
            <h2>Les histoires que vous aimez : </h2>
            <div class="right stories flex flexDirectionRow">
                {% if app.user.likedStories | length >1 %}
                    {% for story in app.user.likedStories %}
                        <div class="story textCenter">
                            {% if story.cover %}
                                <img src="{{ asset('uploads/story/' ~ story.cover) }}" alt="couverture de {{story.name}}" class="coverBook width100">  
                            {% else %}
                                <img src="{{ asset('img/forNoCover.png') }}" alt="couverture de {{story.name}}" class="coverBook width100">  
                            {% endif %}
                            <p>{{story.name}}</p>
                            <a class="bouton boutonWhite" href="{{path('detail_story', {'id' : story.id})}}">Voir plus <i class="fa-solid fa-arrow-right"></i></a>
                            <p class="summary backgroundWhite width100">{{story.summary}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Vous n'aimez aucune histoires !</p>
                    <a href="{{path('app_category')}}" class="boutonWhite">Déccouvrir des histoires</a>
                {% endif %}
            </div>
        </main>
    </div>

{% endblock %}