{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    <div id="profil">  
        {% if user.avatar %}
            <picture><img src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="image avatar" id="bigAvatar" class="width100"></picture>
            <picture><img src="/uploads/user/{{user.avatar}}" alt="image avatar" id="littleAvatar"> </picture>
        {% else %}
            <picture><img src="{{ asset('img/avatar_base.png') }}" alt="image faux avatar" id="bigAvatar" class="width100"></picture>
            <picture><img src="/img/avatar_base.png" alt="image faux avatar" id="littleAvatar"> </picture>
        {% endif %}
        {# nav du haut #}
        {% if app.user and user.id == app.user.id %}
            <nav class="flex alignCenter justifyContent backgroundGrey">
                <a href="{{path('app_profil')}}" class="linkBtn"><b>Mes informations</b></a>
                <p>|</p>
                <a href="{{path('app_subscriptionProfil')}}">Mes abonnements</a>
                <p>|</p>
                <a href="{{path('app_libraryProfil')}}">Ma blibliothèque</a>
                <p>|</p>
                <a href="{{path('app_storyProfil')}}">Mes histoires</a>
            </nav>
        {% endif %}
        
        {# le reste de la page #}
        {% if app.user and user.id == app.user.id %}
            <main class="flex ">
                <div class="leftContainer textCenter">
                    <a href="#infos" class="">Editer mes informations</a> <br>
                    <a href="#lessFifteen" class="">J'ai plus de 15 ans</a><br>
                    <a href="#modifierMdp" class="">Modifier mon mot de passe</a>
                    <a href="{{path('delete_account', {'user': user.id, 'bool': 0})}}" style="color:red">Supprimer mon compte</a> <br>

                    {% if "ROLE_MODERATOR" in user.roles %} {# je m'assure que seul le premier admin peut aller sur la page #}
                        <a href="{{path('app_users')}}" class="">Liste des utilisateurs</a> <br>
                        <a href="{{path('admin')}}" class="">Panneau admin</a>
                    {% endif %}
                </div>
                
                <div class="rightContainer">
                    <section id="infos" class="backgroundWhite">
                        <h2>Mes informations</h2>
                        <hr>
                        <form action="{{path('changeMailAvatar')}}" method="post" enctype="multipart/form-data">
                            <div class="flex flexDirectionRow justifyContent alignCenter">
                                <section class="textCenter">
                                    <h3>Données du compte :</h3>
                                    <p>Inscription le {{user.createAccount | date("d/m/Y")}}</p>    
                                    <p>Seuleument le mail n'est pas visible des autres utilisateurs.</p>
                                    <label for="pseudo">Pseudo :</label>
                                    <input type="text" name="pseudo" id="pseudo" value="{{user.pseudo}}"> <br>
    
                                    <label for="email">Email:</label>
                                    <input type="email" name="email" id="email" value="{{user.email}}"> <br>
    
                                    <label for="email">Biographie:</label>
                                    <textarea name="biography" id="biography">{{user.biography}}</textarea>  <br>
                                    
                                    <label for="avatar">Avatar :</label>
                                    <input type="file" id="avatar"  name="avatar">
                                    <p class="details">2Mo maximum. Taille max: 1024k. Format jpg, png, jpeg, svg, ou webp.</p> 
                                </section>
                                <section class="textCenter">      
                                    <h3>Réseaux sociaux : </h3>
                                    <p>Vous pouvez ajouter vos liens de réseaux sociaux qui seront accessible pour tous:</p>
                                    
                                    {% for sm, link in user.socialMedia %}
                                        <label for="{{ sm }}">{{ sm|capitalize }} :</label>
                                        <input type="text" name="{{ sm }}" id="{{ sm }}" value="{{ link }}"> <br>
                                    {% endfor %}
                                </section>
                            </div>
                            <button  class="submit backgroundGold boutonGold noBorder bouton" >Enregistrer</button>
                        </form>
                    </section>
                    <section id="lessFifteen" class="backgroundWhite">
                        <h2>J'ai moins de 15 ans </h2>
                        <hr>
                        <p>
                            Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi informatiue etr libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitmeent de leur données personnelles.
                        </p>
                        <p>
                            Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que les données à caractère personnelles puissent être collectées et traitées.
                        </p>
                        <p>
                            Si vous avez moins de 15 ans, récupérez ce formulaire, faites-le remplir par votre représentant légal, scannez-le et téléversez-le dans le champ ci-dessous. 
                        </p>
                        <form>
                            <label for="file">Fichier : </label>
                            <input type="file" id="file">
                            <p class="details">
                                Si vous avez moins de 15 ans et que vous ne téléverez pas d'autrorisation de votre représentant légales, Plumédia ne saura être tenu responsble en cas de problème.
                            </p>
                            <input type="button" class="submit backgroundGold boutonGold bouton" value="Envoyer">
                        </form>
                    </section>
                    <section id="modifierMdp" class="backgroundWhite">
                        <h2>Modifier mon mot de passe</h2>
                        <hr>
                        <form action="{{path('changePassword')}}" method="post">
                            <label for="oldPassword">Ancien mot de passe : </label>
                            <input type="password" id="oldPassword" name="oldPassword" vlaue=""> <br>

                            <label for="newPassword">Nouveau mot de passe : </label>
                            <input type="password" id="newPassword" name="newPassword" vlaue=""> <br>

                            <label for="confirmPassword">Confirmer le nouveau mot de passe : </label>
                            <input type="password" id="confirmPassword" name="confirmPassword" vlaue=""><br>

                            <button  class="submit backgroundGold boutonGold noBorder bouton" >Enregistrer </button>
                        </form>
                    </section>
                </div>
            </main>
        {% endif %}
    </div>
{% endblock %}