{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    {# pour la gestion d'erreur #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{label}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <section id="profil">
        {% if user.avatar %}
            <img src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="image avatar" id="bigAvatar" class="width100">
            <img src="/uploads/user/{{user.avatar}}" alt="image avatar" id="littleAvatar"> 
        {% else %}
            <img src="{{ asset('img/avatar_base.png') }}" alt="image faux avatar" id="bigAvatar" class="width100">
            <img src="/img/avatar_base.png" alt="image faux avatar" id="littleAvatar"> 
        {% endif %}
        {# nav du haut #}
        {% if app.user and user.id == app.user.id %}
            <nav class="flex">
                <a href="{{path('app_profil')}}" class="textBlack"><b>Mes informations</b></a>
                <p>|</p>
                <a href="{{path('app_subscriptionProfil')}}" class="textBlack">Mes abonnements</a>
                <p>|</p>
                <a href="{{path('app_libraryProfil')}}" class="textBlack">Ma blibliothèque</a>
                <p>|</p>
                <a href="{{path('app_storyProfil')}}" class="textBlack">Mes histoires</a>
            </nav>
        {% endif %}
        {# ce que les autres utilisateur verront #}
        {% if app.user == null or user.id != app.user.id  %}
            <div id="infosOut">
                {# pour pouvoir revenir en arriere  #}
                <a href="{{path('app_subscriptionProfil')}}" class="textBlack"><i class="fa-solid fa-arrow-left"></i> Mes abonnements</a>
                <h2 class="textCenter"> {{user.pseudo}} </h2>
                {# gestion de si l'utilisateur connecter suit la personne ou non #}
                {% set estSuivi = false %}
                {% if app.user %}
                    {% for u in user.isFollow %}
                        {% if estSuivi == false and u.id == app.user.id %}
                            {% set estSuivi = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if estSuivi %}
                    <a href="{{ path('unFollow', {'pseudo': user.pseudo}) }}" class="textBlack"><i class="fa-solid fa-heart"></i>Ne plus suivre</a>
                {% else %}
                    <a href="{{ path('follow', {'pseudo': user.pseudo}) }}" class="textBlack"><i class="fa-regular fa-heart"></i>Suivre</a>

                {% endif %}
            </div>
        {% endif %}
        {# le reste de la page #}
        {% if app.user and user.id == app.user.id %}
            <main class="flex">
                <section class="leftContainer textCenter">
                    <a href="#infos"class="textBlack">Editer mes informations</a> <br>
                    <a href="#lessFifteen"class="textBlack">J'ai plus de 15 ans</a><br>
                    <a href="#modifierMdp"class="textBlack">Modifier mon mot de passe</a>
                    <a href="{{path('delete_account', {'user': user.id, 'bool': 0})}}" style="color:red">Supprimer mon compte</a> <br>

                    {% if "ROLE_MODERATOR" in user.roles %} {# je m'assure que seul le premier admin peut aller sur la page #}
                        <a href="{{path('app_users')}}" class="textBlack">Liste des utilisateurs</a> <br>
                        <a href="{{path('admin')}}" class="textBlack">Panneau admin</a>
                    {% endif %}
                </section>
                
                <section class="rightContainer">
                    <div id="infos" class="backgroundGrey">
                        <h3>Mes informations</h3>
                        <hr>
                        <p>Inscription le {{user.createAccount | date("d/m/Y")}}</p>
                        <form action="{{path('changeMailAvatar')}}" method="post" enctype="multipart/form-data">
                            <label for="">Pseudo :</label>
                            <input type="text" name="pseudo" value="{{user.pseudo}}"> <br>

                            <label for="">Email (facultatif):</label>
                            <input type="email" name="email" value="{{user.email}}"> <br>

                            <label for="">Avatar :</label>
                            <input type="file" name="avatar" value="">
                            <p class="details">2Mo maximum. Taille max: 1024k. Format jpg, png, jpeg, svg, ou webp.</p> <br>

                            {# <input type="button" class="submit backgroundPurple" value="Enregistrer"> #}
                            <button  class="submit backgroundPurple noBorder bouton" >Enregistrer</button>
                        </form>
                    </div>
                    <div id="lessFifteen" class="backgroundGrey">
                        <h3>J'ai moins de 15 ans </h3>
                        <hr>
                        <p>
                            Conformément aux dispositions de l'article 8 du règlement européen 2016/679 et à la loi informatiue etr libertés, seuls les mineurs âgés de 15 ans ou plus peuvent consentir au traitmeent de leur données personnelles.
                        </p>
                        <p>
                            Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un représentant légal sera requis afin que les données à caractère personnelles puissent être collectées et traitées.
                        </p>
                        <p>
                            Si vous avez moins de 15 ans, récupérez ce formulaire, faites-le remplir par votre représentant légal, scannez-le et téléversez-le dans le champ ci-dessous. 
                        </p>
                        <form action="">
                            <input type="file">
                            <p class="details">
                                Si vous avez moins de 15 ans et que vous ne téléverez pas d'autrorisation de votre représentant légales, Plumédia ne saura être tenu responsble en cas de problème.
                            </p>
                            <input type="button" class="submit backgroundPurple bouton" value="Envoyer">
                        </form>
                    </div>
                    <div id="modifierMdp" class="backgroundGrey">
                        <h3>Modifier mon mot de passe</h3>
                        <hr>
                        <form action="{{path('changePassword')}}" method="post">
                            <label for="">Ancien mot de passe : </label>
                            <input type="password" name="oldPassword"> <br>

                            <label for="">Nouveau mot de passe : </label>
                            <input type="password" name="newPassword"> <br>

                            <label for="">Confirmer le nouveau mot de passe : </label>
                            <input type="password" name="confirmPassword"><br>

                            <button  class="submit backgroundPurple noBorder bouton" >Enregistrer </button>
                        </form>
                    </div>
                </section>
            </main>
        {% endif %}
    </section>
{% endblock %}