{% extends 'base.html.twig' %}

{% block title %}
    Mes abonnements
{% endblock %}

{% block body %}

    <div id="profil">
        {# deux images du haut #}
        {% if user.avatar %}
            <picture>
                <img src="{{ asset('uploads/user/' ~ user.avatar) }}" alt="image avatar" id="bigAvatar" class="width100">
            </picture>
            <picture>
                <img src="/uploads/user/{{user.avatar}}" alt="image avatar" id="littleAvatar"> 
            </picture>
        {% else %}
            <picture>
                <img src="{{ asset('img/avatar_base.png') }}" alt="image faux avatar" id="bigAvatar" class="width100">
            </picture>
            <picture>
                <img src="/img/avatar_base.png" alt="image faux avatar" id="littleAvatar"> 
            </picture>
        {% endif %}
        {# la nav bar du haut #}
        <nav class="flex justifyContent">
            <a href="{{path('app_profil')}}">Mes informations</a>
            <a href="">|</a>
            <a href="{{path('app_subscriptionProfil')}}" class="linkBtn"><b>Mes abonnements</b></a>
            <a href="">|</a>
            <a href="{{path('app_libraryProfil')}}">Ma blibliothèque</a>
            <a href="">|</a>
            <a href="{{path('app_storyProfil')}}">Mes histoires</a>
        </nav>

        <main class="flex ">
            <div class="follows  width50 alignCenter textCenter">
                <section class="follow width50 flex  flexDirectionCollumn">
                    <h2>Vous suivez ({{user.follow | length}}):</h2>
                    {% for folo in user.follow %}
                        <a href="{{path('app_profile', {'id':folo.id})}}" class="">
                            <img src="uploads/user/{{folo.avatar}}" alt="image avatar" class="otherAvatar"> {{folo.pseudo}}
                        </a>
                    {% endfor %}
                </section>
            </div>

            <div class="follows width50 alignCenter  textCenter">
                <section class="follow width50 flex flexDirectionCollumn">
                    <h2>Vos abonnés ({{user.isFollow | length}}):</h2>
                    {% for folo in user.isFollow %}
                        <a href="{{path('app_profile', {'id':folo.id})}}" class="">
                            <img src="uploads/user/{{folo.avatar}}" alt="image avatar" class="otherAvatar"> {{folo.pseudo}}
                        </a>
                    {% endfor %}
                </section>
            </div>
        </main>
    </div>

{% endblock %}